p {
    font-size: medium;
    font-family: Arial, Helvetica, sans-serif;
}

.logo {
    background-color: rgb(77, 92, 163);
    color: white;
    margin-right: 40%;
    margin-bottom: 96px;
}

.logo .logo-h {
    background-color: rgb(77, 92, 163);
    color: white;
    padding-top: 32px;
    padding-left: 32px;
}

.logo .logo-p {
    background-color: rgb(126, 139, 202);
    color: white;
    padding-left: 32px;
    padding-bottom: 8px;
}

.blog-1 {
    background-color: rgb(54, 54, 54);
    color: black;
    padding: 16px;
    margin-left: 0%;
    margin-right: 40%;
    margin-bottom: 96px;
}

.blog-1 .title {
    background-color: rgb(200, 200, 255);
    color: black;
    padding: 8px 16px;
}

.blog-1 .details {
    background-color: rgb(252, 252, 255);
    color: black;
    padding: 8px;
}

.blog-1 .conclusion {
    background-color: rgb(200, 200, 255);
    color: black;
    padding: 8px;
}

.blog-2 {
    background-color: rgb(54, 54, 54);
    color: black;
    padding: 16px;
    margin-left: 0%;
    margin-right: 40%;
}

.blog-2 .title {
    background-color: rgb(200, 200, 255);
    color: black;
    padding: 8px 16px;
}

.blog-2 .details .ingre {
    padding-left: 8px;
}

.blog-2 .details {
    background-color: rgb(252, 252, 255);
    color: black;
    padding: 8px;
}

.blog-2 .conclusion {
    background-color: rgb(200, 200, 255);
    color: black;
    padding: 8px;
}

footer {
    margin-bottom: 400px;
}